.quizContainer{
  padding: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: fit-content;
  max-width: 500px;
  background: #fff;
  border-radius: 30px;
}

@media (max-width:  550px){
  .quizContainer{
    padding: 15px;
    min-width: 100vw;
    border-radius: 0;
  }
}
