.button{
  padding: 15px 20px;
  background: var(--accent-color-2);;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  color: white;
  font-weight: 500;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

.button:active {
  transform: scale(1);
}

.button:disabled{
  background: var(--accent-color-2);
  cursor: no-drop;
}

.button:disabled:hover {
  opacity: 1;
  transform: none;
}

.button:disabled:active {
  transform: none;
}
